extends layout

block content
    h1= title
    p Hello! Welcome to #{title} - A #{full_title} website.

    br
    form(name="login", action="/", method="post")
        p User Name:
            input(type="text" name="username")
        p Password:
            input(type="password" name="password")
        br
        input(type="submit" value="Login")

    br
    br
    p #{error}
